* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: "Consolas", monospace;
    background: #0A1A2F;
    color: white;
    overflow: hidden;
}

#sidebar {
    width: 260px;
    min-width: 260px;
    padding: 20px;
    background: #0A1A2F;
    border-right: 3px solid #14A5FF;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#sidebar h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#sidebar .ultra {
    color: #F2EFE9;
}

.block {
    background: #112233;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #143A66;
    margin-bottom: 20px;
}

.block h3 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F2EFE9;
}

button {
    width: 100%;
    background: #14A5FF;
    border: none;
    padding: 8px;
    border-radius: 6px;
    color: #0A1A2F;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #5bc6ff;
}

.undo {
    background: #F2EFE9 !important;
    color: #0A1A2F !important;
}

input, select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

#canvas {
    flex-grow: 1;
    background: #FFFFFF;
    cursor: crosshair;
    display: block;
}
